@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 10em;
}

#logo {
    height: 3em;
    width: auto;
    align-items: end;
}

#services {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

#slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-weight: 600;
    color: #222F64;
}

#slogan span {
    min-width: fit-content;
}

#services span {
    display: flex;
    align-items: center;
}

#middle {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #07224c, #072450, #082655, #082959, #092b5e, #092d63, #0a3069, #0a326e, #0a3575, #0b387c, #0b3c84, #0c3f8b);
    height: 80vh;
    padding: 2em 10em;
    color: white;
}

#header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    gap: 8em;
}

.header-one {
    font-weight: 300;
    font-size: 2.8em;
}

.header-two {
    font-weight: 600;
    font-size: 1.8em;
}

#form-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2.5em 0;
    gap: 1.5em;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
}

.input-container label {
    font-weight: 500;
}

#reviews-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em 0;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    background-color: white;
    padding: 1em 0.5em;
    border-radius: 2em;
    border-width: 0;
}

.number {    
    height: 1em;
    width: 1em;
    font-size: 1em;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0a72c;
}

option {
    color: black;
}

.form-input input {
    border: none;
    font-size: 1em;
    width: 100%;
}

*:focus {
    outline: none;
}

#more-categories {
    align-self: center;
}

#click-here  {
    color: white;
    text-decoration: underline 1px;
    text-decoration-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.form-input.select-input {
    position: relative;
}

.custom-select-container img {
    position: absolute;
    right: 1.5em;
    pointer-events: none;
}

#reviews-header {
    font-size: 1.25em;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-top: 1.5em;
    font-weight: 600;
}

.review p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-style: italic;
    font-weight: 500;
    font-size: 0.8em;
    color: lightgray;
}

.profile {
    display: flex;
    flex-direction: column;
}

.practice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-details .location {
    color: lightgray;
    font-size: 0.7em;
}

.profile-details span {
    font-size: 0.8em;
    align-self: center;
    text-wrap: nowrap;
}

.review-details {
    display: flex;
    flex-direction: column;
}

.review-details .read{
    align-self: flex-end;
    font-size: 0.8em;
}

.stars img {
    height: 1em;
    width: 1em;
}

.read {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    color: gold;
    cursor: pointer;
}

.read img {
    height: 1.5em;
    width: 1.5em;
}

hr {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 10em;
}

#footer-slogan span {
    font-size: 0.8em;
    font-weight: 600;
    color: #222F64;
    text-wrap: nowrap;
}

footer img {
    height: 2.8em;
    width: auto;
}

#footer-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#links-copyright {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

#footer-links a {
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
    font-weight: 500;
}

#footer-links a:not(:first-child)::before {
    content:"• ";
    font-size: 1em;
    position: relative;
    margin-right: 2em;
}

#footer-copyright {
    display: flex;
    font-size: 0.7em;
    text-align: center;
    padding: 0 8em;
    font-weight: 500;
    color: gray
}

#footer-certifications {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#suggestions-container {
    max-height: 8em;
    overflow-y: auto;
    position: absolute;
    top: 5.8em;
    left: 1.5em;
    background: #fff;
    z-index: 10;
    border: 0.1px solid lightgray;
}

#suggestions-container.hidden {
    display: none;
}

.suggestion-item {
    padding: 0.5em 1.5em;
    cursor: pointer;
    color: black;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.custom-select-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    background-color: white;
    padding: 0.2em 0.4em;
    border-radius: 2em;
    border-width: 0;
}

#custom-select {
    display: flex;
    padding: 1.2em 0;
    cursor: pointer;
    border-radius: 0.25em;
    color: gray;
    font-weight: 500;
    width: 100%;
}

.options-container {
    margin-top: 0.2em;
    background: #fff;
    max-height: 15em;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    z-index: 10;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 0.5em;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.option-item {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.2em 0 0.2em 3em;
    color: black;
}

.option-item:hover {
    background-color: rgb(202, 220, 233);
}

.hidden {
    display: none;
}

.options-container::-webkit-scrollbar {
    display: none;
}


#modal, #more-category-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#modal.hidden, #more-category-modal.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    border-radius: 0.5em;
    padding: 2.5em;
    width: 80%;
    max-width: 31.25em;
    position: relative;
}

#modal-close, #more-category-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#custom-title {
    font-weight: bold;
}

#modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25em;
}

#modal-issues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 30em; 
    column-gap: 1em;
    background: #fff; 
    gap: 1.5em;
    padding: 1em 0;
}

#more-category-modal-body {
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8em;
    gap: 0.8em;
}

#more-category-modal-body span {
    text-wrap: nowrap;
    color: rgb(57, 129, 180);
    cursor: pointer;
}

.checkbox-item {
    display: flex;
    gap: 0.5em;
}

.checkbox-item input[type="checkbox"] {
    margin: 0;
}

.checkbox-item label {
    margin: 0;
    cursor: pointer;
    min-width: fit-content;
}

#modal-find-button {
    background-color: #072e6e;
    width: fit-content;
    color: #fff;
    font-weight: bold;
    margin: auto;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
}

#modal-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#more-category-modal-title {
    font-weight: 500;
    margin: 0;
}

#more-category-modal-subtitle {
    font-weight: 400;
    margin: 0.5em 0 0 0;
}



